        body { background-image: url(https://fondosmil.com/fondo/1806.jpg);}
        h1 {
            color: thistle
        }
        img {
            width: 400px
        }
        #thirdDiv{
            display:center ;
            height: 600px;
            width: 500px;
            background-color:rgb(192, 154, 192)
            padding 50px;
            border: 2px dotted thistle;}
        #spandId{
            font-size: 18px;
            margin: 50px;
        }
        .divClass{
            padding: 50px;
            border: 2px dotted thistle;
        }